<div class="container" style="margin-top: 20px;margin-bottom: 20px; padding: 35px;">

    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <h3> <b>Login</b></h3>
        <div class="row pb-1">
            <input type="text" formControlName="userName" placeholder="Phone" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && getFormControl.userName.errors }">
            <div *ngIf="submitted && getFormControl.userName.errors" class="invalid-feedback text-danger">
                <div *ngIf="getFormControl.userName.errors?.required">Phone is required.</div>
            </div>
        </div>
        <div class="row pb-1">
            <input type="password" formControlName="password" placeholder="Password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && getFormControl.password.errors }">
            <div *ngIf="submitted && getFormControl.password.errors" class="invalid-feedback text-danger">
                <div *ngIf="getFormControl.password.errors?.required">Password is required.</div>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary form-control">Log In</button>
        </div>

    </form>
    <br />
    <div>
        <span>Not have an account Sign Up <a routerLink="/register"> here?</a></span>
    </div>

</div>