<div class="container" style="margin-top: 20px;margin-bottom: 20px; padding: 35px;">
    <form class="login-form"  autocomplete="off" [formGroup]="registerForm" (ngSubmit)="onRegisterCustomer()">
        <div class="row pb-2">
            <div class="col-sm-4">
                <label for="fullName"><b>Full Name <span style="color: red;">*</span></b> </label>
                <input id="fullName" class="form-control" formControlName="fullName"
                    [ngClass]="{ 'is-invalid': submitted && getFormControl.fullName.errors }"
                    placeholder="Enter a Full Name">
                <div *ngIf="submitted && getFormControl.fullName.errors" class="invalid-feedback text-danger">
                    <div *ngIf="getFormControl.fullName.errors?.required">Full Name is required.</div>
                </div>
            </div>
            <div class="col-sm-4">
                <label for="email"><b>Email<span style="color: red;">*</span></b> </label>
                <input id="email" class="form-control" formControlName="email"
                    [ngClass]="{ 'is-invalid': submitted && getFormControl.email.errors }" placeholder="Enter a Email">
                <div *ngIf="submitted && getFormControl.email.errors" class="invalid-feedback text-danger">
                    <div *ngIf="getFormControl.email.errors?.required">Email is required.</div>
                </div>
            </div>

        </div>

        <div class="row pb-2">
            <div class="col-sm-4">
                <label for="phoneNumber"><b>Phone<span style="color: red;">*</span></b> </label>
                <input id="phoneNumber" class="form-control" formControlName="phoneNumber"
                    [ngClass]="{ 'is-invalid': submitted && getFormControl.phoneNumber.errors }"
                    placeholder="Enter a Phone">
                <div *ngIf="submitted && getFormControl.phoneNumber.errors" class="invalid-feedback text-danger">
                    <div *ngIf="getFormControl.phoneNumber.errors?.required">Phone is required.</div>
                </div>
            </div>
            <div class="col-sm-4">
                <label for="gender"><b>Gender<span style="color: red;">*</span></b> </label>
                <ng-select [items]="genders" bindLabel="name" bindValue="id" [closeOnSelect]="true"
                    placeholder="Select Gender" [multiple]="false" formControlName="gender"
                    [ngClass]="{ 'is-invalid': submitted && getFormControl.gender.errors }">
                </ng-select>
                <div *ngIf="submitted && getFormControl.gender.errors" class="invalid-feedback text-danger">
                    <div *ngIf="getFormControl.gender.errors?.required">Gender is required.</div>
                </div>
            </div>
        </div>

        <div class="row pb-2">

            <div class="col-sm-4">
                <label for="dateOfBirth"><b>Date Of Birth<span style="color: red;">*</span></b> </label>
                <input type="date" id="dateOfBirth" class="form-control" formControlName="dateOfBirth"
                    [ngClass]="{ 'is-invalid': submitted && getFormControl.dateOfBirth.errors }"
                    placeholder="Select Date of Birth">
                <div *ngIf="submitted && getFormControl.dateOfBirth.errors" class="invalid-feedback text-danger">
                    <div *ngIf="getFormControl.dateOfBirth.errors?.required">Date of birth is required</div>
                </div>
            </div>
            <div class="col-sm-4">
                <label for="address"><b>Address<span style="color: red;">*</span></b> </label>
                <input id="address" class="form-control" formControlName="address"
                    [ngClass]="{ 'is-invalid': submitted && getFormControl.address.errors }"
                    placeholder="Enter a Address">
                <div *ngIf="submitted && getFormControl.address.errors" class="invalid-feedback text-danger">
                    <div *ngIf="getFormControl.address.errors?.required">Address is required.</div>
                </div>
            </div>
        </div>

        <div class="row pb-2">
            <div class="col-sm-4">
                <label for="password"><b>Password<span style="color: red;">*</span></b> </label>
                <input type="password" id="password" class="form-control" formControlName="password"
                    [ngClass]="{ 'is-invalid': submitted && getFormControl.password.errors }"
                    placeholder="Enter a Password">
                <div *ngIf="submitted && getFormControl.password.errors" class="invalid-feedback text-danger">
                    <div *ngIf="getFormControl.password.errors?.required">Password is required.</div>
                </div>
            </div>
            <div class="col-sm-4">
                <label for="confirmPassword"><b>Confirm Password<span style="color: red;">*</span></b> </label>
                <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword"
                    [ngClass]="{ 'is-invalid': submitted && getFormControl.confirmPassword.errors }"
                    placeholder="Enter a Confirm Password">
                <div *ngIf="submitted && getFormControl.confirmPassword.errors" class="invalid-feedback text-danger">
                    <div *ngIf="getFormControl.confirmPassword.errors?.required">Confirm Password is required</div>
                </div>
            </div>

        </div>
        <div class="row pb-2">
            <div class="col-sm-4">
                <label for="image"><b>Image</b> </label>
                <input type="file" id="address" class="form-control" formControlName="image"
                    [ngClass]="{ 'is-invalid': submitted && getFormControl.image.errors }"
                    placeholder="Select an Image">
                <div *ngIf="submitted && getFormControl.image.errors" class="invalid-feedback text-danger">
                    <div *ngIf="getFormControl.image.errors?.required">Image is required.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 text-right">
                <button type="submit" class="btn btn-primary">SIGN UP</button>
            </div>

        </div>
    </form>
</div>