<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Shopping Cart</h2>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End Page title area -->


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-content-right">
                    <div class="woocommerce">
                        <form method="post" action="#">
                            <table cellspacing="0" class="shop_table cart">
                                <thead>
                                    <tr>
                                        <th class="product-name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product-quantity">Quantity</th>
                                        <th class="product-subtotal">Total</th>
                                        <th class="product-remove">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cart_item" *ngFor="let item of cartDetails">
                                        <td class="product-name">
                                            <span>{{item?.productName}}</span>
                                        </td>

                                        <td class="product-price">
                                            <span class="amount">Rs. {{item.unitPrice}}</span>
                                        </td>

                                        <td class="product-quantity">
                                            <span class="amount">{{item.quantity}}</span>
                                        </td>

                                        <td class="product-subtotal">
                                            <span class="amount">Rs. {{item.totalAmount}}</span>
                                        </td>
                                        <td class="product-remove">
                                            <a title="Remove this item" class="remove" (click)="removeFromCart(item?.id)"><i class="fa fa-remove"></i></a>
                                        </td>
                                      
                                    </tr>
                                </tbody>
                            </table>
                        </form>

                        <div class="cart-collaterals">
                            <div class="cart_totals ">
                                <h2>Cart Totals</h2>

                                <table cellspacing="0">
                                    <tbody>
                                        <tr class="shipping">
                                            <th>Shipping and Handling</th>
                                            <td>Free Shipping</td>
                                        </tr>

                                        <tr class="order-total">
                                            <th>Order Total</th>
                                            <td><strong><span class="amount">Rs. {{getCartTotal()}}</span></strong> </td>
                                        </tr>
                                        <tr>
                                            <th> Order Now</th>
                                            <td> <button type="button" (click)="checkIfAnyProductExists()" class="btn btn-primary">Checkout</button> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>