<div class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <!-- <div class="user-menu">
                    <ul>
                
                        <li><a routerLink="#"><i class="fa fa-user"></i> Checkout</a></li>
                        <li *ngIf="!isLoggedIn$"><a routerLink="/login"><i class="fa fa-user"></i>Login/Register</a>
                        </li>
                    </ul>
                </div> -->
            </div>

            <div class="col-md-5">
                <div class="header-right">
                    <ul class="list-unstyled list-inline">
                        <li class="dropdown dropdown-small">
                            <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span
                                    class="key">currency :</span><span class="value">NPR </span><b
                                    class="caret"></b></a>
                        </li>

                        <li class="dropdown dropdown-small">
                            <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span
                                    class="key">language :</span><span class="value">English </span><b
                                    class="caret"></b></a>
                        </li>

                        
                        <li class="dropdown dropdown-small" *ngIf="isLoggedIn$ | async else loggedOut"> 
                            <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span
                                    class="key" ><i class="fa fa-user"></i> {{getUsername()}}</span><span
                                    class="value"></span><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a routerLink="#">Profile</a> </li>
                                <li> <a routerLink="/order-history">My Orders</a> </li>
                                <li> <a routerLink="/cart">My Cart</a> </li>
                                <li> <a (click)="onLogout()">Logout</a> </li>
                            </ul>
                        </li>
                        <ng-template #loggedOut>
                            <li class="dropdown dropdown-small">
                                <a data-toggle="dropdown" data-hover="dropdown" routerLink="/login" class="dropdown-toggle" href="#"><span
                                        class="key"></span><span class="value">Login/Register </span><b
                                        class="caret"></b></a>
                            </li> 
                        </ng-template>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End header area -->