
<!-- End main content area -->

<div class="card-container" style="margin-left: 40px; margin-right: 40px;">
    <div class="card" *ngFor="let item of productData">
        <!-- <img src="data:image/{{item?.imageDetail?.imageExtension}};base64,{{item?.imageDetail?.imageBase64}}" alt="Image 1"> -->
        <img src="{{baseUrl}}{{item.thumbnil}}" alt="{{item.name}}">
        <h3 class="product-title"> {{item?.productName}} </h3>
        <span> Brand:  {{item?.brandName}} </span>
        <span> Rating: </span> 
        <div class="product-rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>
        
        <div class="product-wid-price">
            <span>Price: </span>  <ins>{{item?.sellingUnitPrice}}</ins> 
            <!-- <del>$425.00</del> -->
        </div>    
        <a [routerLink]="['/product-detail', item?.id]" class="details-button">See Details</a>
    </div>
   
</div>