.card-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    width: calc(20% - 20px); /* 20% width for each card with 20px margin between them */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    position: relative; /* Required for absolute positioning */
    overflow: hidden; /* Hide overflowing button */
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .card-content {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  
  .card:hover .card-content {
    opacity: 0;
  }
  
  .details-button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    display: none;
    padding: 10px 20px;
    background-color: #3c58e9;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: opacity 0.3s ease;
    text-align: center;
  }
  
  .card:hover .details-button {
    display: block;
  }
  
  .card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add box-shadow on hover */
  }
  
  .product-rating {
    color: #ffc808;
    margin-bottom: 10px;
}
.product-title {
    font-family: raleway;
    font-size: 22px;
    font-weight: 100;
    margin-bottom: 5px;
  }