<header>
    <nav>
      <div class="logo">
        <a routerLink=""><b style="font-size: 20px;">BaZaaR</b></a>
      </div>
      <div class="search">
        <input type="text" placeholder="Search...">
        <button><i class="fa fa-search"></i></button>
      </div>
      <ul class="menu">
          <!-- <li><a routerLink="">Home</a></li>
          <li><a routerLink="#">Shop</a></li>
          <li><a routerLink="#">Contact</a></li> -->
      </ul>

      <div class="cart">
        <a routerLink="/cart"><i class="fa fa-shopping-cart"></i> Cart<span class="badge">{{productCount}}</span></a>
      </div>
    </nav>
  </header>