@import url('https://fonts.googleapis.com/css2?family=Roboto:400,700&display=swap');

header {
    background-color: #f9f9f9;
    color: #333;
    padding: 12px;
    font-family: Arial, sans-serif;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo a {
    color: #333;
    font-size: 20px;
    text-decoration: none;
  }
  
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    display: inline-block;
    margin-left: 15px;
  }
  
  .menu li a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
  }
  
  .search input {
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
  }
  
  .search button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .cart a {
    color: #333;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding-right: 20px;
  }
  
  .cart .badge {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #ff0000;
    color: #fff;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
  }


  
  