.carousel {
    position: relative;
    overflow: hidden;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s;
    height: 100%;
  }
  
  .carousel-item {
    flex: 0 0 100%;
    height: 100%;
  }
  
  .carousel-item img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    color: #000;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: transparent;
    border: none;
    outline: none;
  }
  
  .carousel-control-prev-icon::before,
  .carousel-control-next-icon::before {
    content: "‹";
  }
  
  .carousel-control-next-icon::before {
    content: "›";
  }
  
  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    background-color: rgba(255, 255, 255, 1);
  }
  