

  <div class="carousel" [style.height.px]="carouselHeight">
    <div class="carousel-inner" [style.width.px]="carouselWidth" [style.transform]="'translateX(' + transformValue + 'px)'">
      <div *ngFor="let image of images; let i = index" class="carousel-item" [ngClass]="{ active: i === currentIndex }">
        <img src="data:image/{{image?.imageExtension}};base64,{{image?.imageBase64}}" alt="carousel-image" />
      </div>
    </div>
    <a class="carousel-control-prev"  role="button" (click)="prevImage()">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" role="button" (click)="nextImage()">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
  