.container {
    margin-top: 2rem;
}

.row.text-center {
    justify-content: center;
    align-items: center;
}

h4 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.brand-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.brand-list > div {
    flex: 0 0 auto;
    padding: 10px;
    padding-top: 0;
    justify-content: space-between;
}

.brand-list img {
    width: 160px;
    height: 130px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    padding: 20px;
}

.brand-list img:hover {
    transform: scale(1.05);
}
