<div class="container mt-2">
    <div class="row text-center">
        <h4>Product By Brands</h4>
    </div>
    <div class="row text-center">
        <div class="col-md-12">
            <div class="brand-wrapper">
                <div class="brand-list">
                    <div *ngFor="let item of brandData">
                        <a routerLink="#">
                            <!-- <img src="data:image/{{item?.logo?.imageExtension}};base64,{{item?.logo?.imageBase64}}"
                            alt="{{item.brandName}}"> -->
                            <img src="{{baseUrl}}{{item?.logo}}" alt="{{item?.brandName}}">
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>