<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>My Order Hstory</h2>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="single-product-area mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Ordered Date</th>
                            <th scope="col">Brand Name</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Unit Price</th>
                            <th scope="col">Order Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of orderHistoryDetails" class="p-2">
                            <td scope="row">{{item?.orderedDate}}</td>
                            <td>{{item?.brandName}}</td>
                            <td>{{item?.productName}}</td>
                            <td>{{item?.quantity}}</td>
                            <td>{{item?.amount}}</td>
                            <td>{{item?.orderStatus}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>