<app-product-slider></app-product-slider>
<app-lastest-product></app-lastest-product>
<app-product-by-brands></app-product-by-brands>
<!-- <app-product-by-category></app-product-by-category> -->
<!-- <app-shop-promo></app-shop-promo> -->


