<!-- <div class="site-branding-area"> -->
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo">
                    <h3>Ankeet Shop</h3>
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="shopping-item text-right">
                    <a href="cart.html">Cart - <span class="cart-amunt">$100</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">5</span></a>
                </div>
            </div>
        </div>
    </div>
<!-- </div>  -->
