<div class="footer-top-area">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="footer-about-us">
                    <h2>raj<span>Store</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sunt id doloribus vero quam laborum quas alias dolores blanditiis iusto consequatur, modi aliquid eveniet eligendi iure eaque ipsam iste, pariatur omnis sint! Suscipit, debitis, quisquam. Laborum commodi veritatis magni at?</p>
                    <div class="footer-social">
                        <a routerLink="#" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a routerLink="#" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a routerLink="#" target="_blank"><i class="fa fa-youtube"></i></a>
                        <a routerLink="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3 col-sm-6">
                <div class="footer-menu">
                    <h2 class="footer-wid-title">User Navigation </h2>
                    <ul>
                        <li><a routerLink="#">My account</a></li>
                        <li><a routerLink="#">Order history</a></li>
                        <li><a routerLink="#">Front page</a></li>
                    </ul>                        
                </div>
            </div>
            
            <div class="col-md-3 col-sm-6">
                <div class="footer-menu">
                    <h2 class="footer-wid-title">Categories</h2>
                    <ul>
                        <li><a routerLink="#">Mobile Phone</a></li>
                        <li><a routerLink="#">Home accesseries</a></li>
                        <li><a routerLink="#">LED TV</a></li>
                        <li><a routerLink="#">Computer</a></li>
                        <li><a routerLink="#">Gadets</a></li>
                    </ul>                        
                </div>
            </div>
            
            <!-- <div class="col-md-3 col-sm-6">
                <div class="footer-newsletter">
                    <h2 class="footer-wid-title">Newsletter</h2>
                    <p>Sign up to our newsletter and get exclusive deals you wont find anywhere else straight to your inbox!</p>
                    <div class="newsletter-form">
                        <form action="#">
                            <input type="email" placeholder="Type your email">
                            <input type="submit" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div> <!-- End footer top area -->