
<div class="carousel-wrapper pt-2">
  <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="carouselConfig">
    <div ngxSlickItem *ngFor="let slide of sliders; let i = index" [ngClass]="{ 'active': i === 0 }">
      <!-- <img src="{{ slide.imageBase64 }}" [alt]="'Carousel Image ' + (i + 1)"> -->
      <img src="{{baseUrl}}{{ slide?.imageName }}" [alt]="'Carousel Image ' + (i + 1)">
    </div>
  </ngx-slick-carousel>

  <button class="carousel-nav-btn prev-btn" (click)="slickModal.slickPrev()"> 
    <span class="arrow">&lt;</span> </button>
  <button class="carousel-nav-btn next-btn" (click)="slickModal.slickNext()">
    <span class="arrow">&gt;</span></button>
</div>