/* .carousel-wrapper {
    text-align: center;
    width: 100%;
    max-width: 800px; 
    margin: 0 auto;
  } */

  .carousel-wrapper {
    position: relative;
    text-align: center;
    max-width: 800px; 
    margin: 0 auto;
  }
  
  .carousel-nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .prev-btn {
    left: 0;
  }
  
  .next-btn {
    right: 0;
  }

  .arrow{
    padding: 1px;
    background-color: aliceblue;
    border-radius: 50%;
  }