<div>
    <app-header></app-header>
    <app-main-menu></app-main-menu>

    <router-outlet (activate)="onActive()"></router-outlet>

    <app-footer-top></app-footer-top>
    <app-footer></app-footer>
</div>