<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Product Detail</h2>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End Page title area -->

<div class="single-product-area">
    <div class="container row">
        <div class="col-sm-5">
            <div class="slider-container text-center">
                <div class="slider" [ngStyle]="{'transform': 'translateX(' + (-currentIndex * slideWidth) + 'px)'}">
                  <div class="slide" *ngFor="let image of images; let i = index">
                    <img src="data:image/{{image?.imageExtension}};base64,{{image?.imageBase64}}" alt="Slide {{i + 1}}" />
                  </div>
                </div>
                <div class="slider-navigation">
                    <button class="slider-nav-button left" (click)="prevSlide()" [disabled]="currentIndex === 0">&lt;</button>
                    <button class="slider-nav-button right" (click)="nextSlide()" [disabled]="currentIndex === images.length - 1">&gt;</button>
                  </div>
            </div>
              
        </div>
        <div class="col-sm-7 pt-3">
            <h3 class="product-title" style="font-size: 22px;"> <b>{{productDetail?.productName}}</b>  </h3>
            <div class="row">
                <span class="prod-detail col-sm-1"> <b> Rating: </b>  </span> 
                <div class="product-rating prod-detail col-sm-2 text-right">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>
            
            <div class="brand-name prod-detail">
                <span> <b> Brand: </b> </span> <span>{{productDetail?.brandName}}</span>
            </div>
            <div class="product-status prod-detail">
                <span> <b> Product Status: </b>  </span> <span>{{productDetail?.productStatus}}</span>
            </div>
            <div class="product-quantity prod-detail">
                <span> <b> Available Quantity: </b>  </span>  <span>{{productDetail?.quantity}}</span> 
            </div>  
            <div class="product-wid-price prod-detail">
                <span>  <b> Price: </b> </span>  <ins>{{productDetail?.sellingUnitPrice}}</ins> 
                <!-- <del>$425.00</del> -->
            </div>  
            <div class="product-entry-form prod-detail">
                <span> <b> Quantity: </b> 
                </span> <button type="button"  class="btn btn-secondary" (click)="onSubtractQuantity()">-</button>
                 &nbsp; <span>{{quantity}}</span> &nbsp; 
                 <button type="button" class="btn btn-secondary" (click)="onAddQuantity()">+</button>
                <br />
                <br />
                <button type="button" class="btn btn-primary prod-detail" (click)="onBuyNow()">Buy Now</button> &nbsp; 
                <button type="button" class="btn btn-warning prod-detail" (click)="onAddToCart()">Add To Cart</button>
            </div>
        </div>
    </div>
</div>