/* .block-slider img {
    width: 100% !important;
    height: 250px !important;
} */

.single-product-area {
    padding: 20px 0 30px;
}

.product-rating {
    color: #ffc808;
    margin-bottom: 10px;
}

.btn .btn-secondary{
    border: none !important;
}

.prod-detail{
 font-size: 18px !important;
}



.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.3s ease;
  }
  
  .slide {
    flex-shrink: 0;
    width: 100%;
  }
  
  .slide img {
    margin: 10px;
    width: 85% !important;
    height: 300px !important;
  }
  
  /* .slider-navigation button {
    margin: 0 10px;
    font-size: 10px;
    padding: 5px 10px;
    background-color: #ccc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .slider-navigation button:hover {
    background-color: #999;
  } */

  .slider-navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .slider-nav-button {
    margin: 0;
    background-color: transparent;
    border: none;
    color: #000000;
    font-size: 22px;
    cursor: pointer;
    z-index: 1;
    /* border-radius: 10px; */
  }
  
  .left {
    margin-left: 15px;
  }
  
  .right {
    margin-right: 13px;
  }
  