@import "~@ng-select/ng-select/themes/default.theme.css";
@import 'ngx-toastr/toastr';
@import '../node_modules/bxslider/dist/jquery.bxslider.css';

*{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.pb-2{
    padding-bottom: 7px;
}
