#customer_details label {
    display: block;
    margin: 0 0 5px;
}

#customer_details input[type="text"],
#customer_details textarea,
.shipping_calculator input[type=text] {
    margin-bottom: 3px;
    width: 100%;
}

#customer_details h3 {
    color: #5a88ca;
    font-size: 20px;
    text-transform: uppercase;
}