<div class="row" style="height: inherit; width: auto;">
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Shopping Cart</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="single-product-area p-5" style="margin-left: 13%;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <form [formGroup]="createOrderForm" (ngSubmit)="onCreateOrder()">
                        <div class="col-sm-6">
                            <div id="customer_details" class="col2-set">
                                <div class="woocommerce-billing-fields">
                                    <h3>Shipping/Billing Details</h3>
                                    <div class="row">
                                        <div class="col-sm-6">

                                            <label for="fullName">Full Name <abbr title="required" class="required">*</abbr>
                                            </label>
                                            <input type="text" formControlName="fullName" placeholder="Full Name"
                                                id="fullName" class="input-text "
                                                [ngClass]="{ 'is-invalid': submitted && getFormControl.fullName.errors }">

                                            <div *ngIf="submitted && getFormControl.fullName.errors"
                                                class="invalid-feedback text-danger">
                                                <div *ngIf="getFormControl.fullName.errors?.required">Full is
                                                    required.</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="phone">Phone <abbr title="required" class="required">*</abbr>
                                            </label>
                                            <input type="text" formControlName="phone" placeholder="Phone" id="phone"
                                                class="input-text"
                                                [ngClass]="{ 'is-invalid': submitted && getFormControl.phone.errors }">

                                            <div *ngIf="submitted && getFormControl.phone.errors"
                                                class="invalid-feedback text-danger">
                                                <div *ngIf="getFormControl.phone.errors?.required">Phone is
                                                    required.</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label for="state">State <abbr title="required" class="required">*</abbr>
                                            </label>
                                            <ng-select [items]="states" bindLabel="name" bindValue="id"
                                                [closeOnSelect]="true" placeholder="Select State" [multiple]="false"
                                                formControlName="state" [searchable]="true"
                                                [ngClass]="{ 'is-invalid': submitted && getFormControl.state.errors }">
                                            </ng-select>

                                            <div *ngIf="submitted && getFormControl.state.errors"
                                                class="invalid-feedback text-danger">
                                                <div *ngIf="getFormControl.state.errors?.required">State is
                                                    required.</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">

                                            <label for="district">District <abbr title="required" class="required">*</abbr>
                                            </label>
                                            <ng-select [items]="districts" bindLabel="name" bindValue="id"
                                                [closeOnSelect]="true" placeholder="Select District" [multiple]="false"
                                                formControlName="district" [searchable]="true"
                                                [ngClass]="{ 'is-invalid': submitted && getFormControl.district.errors }">
                                            </ng-select>

                                            <div *ngIf="submitted && getFormControl.district.errors"
                                                class="invalid-feedback text-danger">
                                                <div *ngIf="getFormControl.district.errors?.required">District is
                                                    required.</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">

                                            <label for="municipality">Town / City <abbr title="required" class="required">*</abbr>
                                            </label>
                                            <input type="text" formControlName="municipality" placeholder="Town / City" id="city"
                                                class="input-text"
                                                [ngClass]="{ 'is-invalid': submitted && getFormControl.municipality.errors }">

                                            <div *ngIf="submitted && getFormControl.municipality.errors"
                                                class="invalid-feedback text-danger">
                                                <div *ngIf="getFormControl.municipality.errors?.required">City is
                                                    required.</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">

                                            <label for="address">Address <abbr title="required" class="required">*</abbr>
                                            </label>
                                            <input type="text" formControlName="address" placeholder="Street address"
                                                id="billing_address_1" class="input-text "
                                                [ngClass]="{ 'is-invalid': submitted && getFormControl.address.errors }">

                                            <div *ngIf="submitted && getFormControl.address.errors"
                                                class="invalid-feedback text-danger">
                                                <div *ngIf="getFormControl.address.errors?.required">Address is
                                                    required.</div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label class="" for="zipCode">Postalcode
                                            </label>
                                            <input type="text" formControlName="zipCode" placeholder="Postcode / Zip"
                                                id="zipCode" class="input-text">
                                        </div>
                                        <div class="col-sm-6">

                                            <label for="email">Email Address
                                            </label>
                                            <input type="text" formControlName="email" placeholder="Email Address"
                                                id="email" class="input-text ">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <h3 id="order_review_heading">Choose Payment Options</h3>
                            <div id="order_review" style="position: relative;">
                                <div id="payment">
                                    <ul class="payment_methods methods">
                                        <li class="payment_method_cash">
                                            <input type="radio" data-order_button_text="" checked="checked" value="cash"
                                                name="payment_method" class="input-radio" id="payment_method_cash" />
                                            <label for="payment_method_cash">Cash On Delivery</label>
                                        </li>
                                        <li class="payment_method_wallet">
                                            <input type="radio" data-order_button_text="" value="wallet"
                                                name="payment_method" class="input-radio" id="payment_method_wallet">
                                            <label for="payment_method_wallet">Esewa Wallet </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-row text-bottom mb-2">
                            <button type="submit" value="Place order" id="place_order" class="button alt"> Place order
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>